.container{
    margin: 50px 60px;
    height: 50%;
}
/* header{
    text-align: justify;
} */
section{
    width: 40%;
}
footer{
    text-align: justify;
}
#box1{
    width: 49%;
    float: left;
}
#box2{
    width: 49%;
    float: right;
}