.container{
    margin: 50px 60px;
    height: 50%;
    font-size: 13px;
    font-family: sans-serif;
}
/* header{
    text-align: justify;
} */
section{
    width: 46%;
}
ul{
    padding-left: 19px;
}
footer{
    text-align: justify;
}
#box1{
    width: 49%;
    float: left;
}
#box2{
    width: 49%;
    float: right;
}